{{
from some_helper import title_for_this_dir

title = title_for_this_dir
}}

<html>

<head>
<title>{{title_for_this_dir}}</title>
</head>

<body>

<small>
	{% for dirNode in page.parents %}
		{% if dirNode.hasIndexPage %}
			<a href="{{ link(dirNode) }}">{{ dirNode.title }}</a>
		{% else %}
			{{ dirNode.title }}
		{% endif %} &#9656;
	{% endfor %}
</small>

<h4>
    The pages here are:
</h4>

<ul>
    {% for file in dir.pages %}
    <li>
        <a href="{{ link(file) }}">
            {{file.title}}
        </a>
        {{
        if file.x1y:
            write('&nbsp; &nbsp;' + file.x1y)
        }}
    </li>
    {% endfor %}
</ul>

This is the <a href="{{ link('css') }}">css</a> folder.

<br/>
<br/>
Go <a href="{{ link('/') }}">the root</a> page.

<body>

</html>
