{{
from some_helper import title_for_this_dir

title = title_for_this_dir
}}

<html>

<head>
<title>{{title}}</title>
</head>

<body>

<h4>
    The pages here are:
</h4>

<ul>
    {% for file in dir.files if file.baseName != '__config__' %}
    {% if file.realName != 'index' %} <!-- FIXME / TODO -->
    <li>
        <a href="{{ linkObj(file) }}">
            {{file.getTitle()}}
        </a>
    </li>
    {% %}
    {% %}
</ul>

This is the <a href="{{ link('css') }}">css</a> folder.

<body>

</html>
